NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bW9yZS..
CLERK_SECRET_KEY=sk_test_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
SIGNING_SECRET=whsec_CVYSfF..
MONGODB_URI=mongod....
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB1Pb1..
URL=http://localhost:3000
akqYiaParAURYM08
JPoX1mBBIPqnbHTj
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdqc2ZmZ296YnZram9idm53d2hlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczMjI3OTcsImV4cCI6MjA2Mjg5ODc5N30.3WGonlusVm7EVWRSr6B06Yvn1UCG-75VrgISpqwkq6c